.itemContainer {
    backdrop-filter: blur(6.5px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.itemEffect {
    transform: translateX(0);
    transition: transform 0.5s, opacity 0.5s;
}

.itemEffect:hover {
    transform: translateX(6%);
    color: #929292
}
