.coupons {
    margin: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 5px;
}

.card {
    width: 250px;
    height: 350px;
    border: 1px solid white;
    border-radius: 10px;
    /* overflow: hidden pictures is stricted by size  */
    overflow: hidden;
    padding: 10px;
    margin: 20px 20px;
    background-color: white;
    box-shadow: 0 4px 30px rgba(129, 129, 129, 0.3);
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 30px rgba(129, 129, 129, 0.7);
}

.couponImage {
    width: 80%;
    max-width: 300px;
    min-height: 200px;
    display: block;
    object-fit: cover;
    margin-left: 20px;
}

.couponName {
    margin: 20px 0px;
}

.discountCode {
    margin: 10px 0px;
    font-size: 15px;
}

.copyCodeButton {
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #FC4F00;
    color: white;
    width: 100%;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    margin: 15px auto;
}

.copyCodeButton:hover {
    background-color: #ff5c10;
}

.copyCodeButton:active {
    transform: translateY(1px);
    background-color: #929292;
    opacity: 0.9;
}